<header class="section header" id="header">
  <div>
    <a href="https://pkp.sfu.ca/" target="_blank" rel="noopener">
      {% include svg/logo.svg %}
      <span class="sr-only">Public Knowledge Project</span>
    </a>
  </div>

  <div>
    <nav class="nav nav--active">
      <ol>
        {% for section in site.sections %}
        <li>
          <a href="#{{ section.url | remove: '.html' | remove: '/sections/' | slice: 3, section.url.size }}">
            {{ section.heading }}
          </a>
        </li>
        {% endfor %}
      </ol>
    </nav>
  </div>

  <div>
    <h1>
      {{ site.title }} <br/>
      <strong>{{ site.year }}</strong>
    </h1>
  </div>

  <div>
    <p class="tagline">
      <strong>Making <br/>knowledge <br/>public.</strong>
    </p>
  </div>
</header>

<div class="sticky-menu" id="stickyMenu" aria-hidden="true">
  <nav class="nav" id="nav">
    <ol>
      {% for section in site.sections %}
      <li>
        <a href="#{{ section.url | remove: '.html' | remove: '/sections/' | slice: 3, section.url.size }}">
          {{ section.heading }}
        </a>
      </li>
      {% endfor %}
    </ol>
  </nav>

  <button id="tocToggler" class="button" aria-label="menu">
    
  </button>
</div>
