blockquote {
  margin: $spacing-05 0 $spacing-06 0;
  color: $prussian-blue;
  @include font-serif;

  > cite {
    @include font-sans;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:before,
  &:after {
    display: block;
    content: '';
    height: $border-third;
    width: $border-triple;
    background-color: $prussian-blue;

    @media screen and (min-width: 1024px) {
      height: $border;
    }
  }

  &:before {
    margin-bottom: $spacing-04;
  }

  &:after {
    margin-top: $spacing-04;
  }

  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}

.section--inverted blockquote {
  &:before,
  &:after {
    background-color: $athens-blue;
  }
}

.blockquote--centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &:before,
  &:after {
    margin-left: auto;
    margin-right: auto;
  }

  p:before {
    background-position: left;
  }
}

.blockquote--patterned {
  p {
    z-index: 1;

    &:before {
      position: absolute;
      margin-top: -35vh;
      z-index: -1; // Modify stacking order
      right: 0;
      background-position: center;
      @include svg-bg('../img/grid-yellow.svg', 100%, 100%);
    }
  }
}

@media screen and (min-width: 1024px) {
  .blockquote--right {
    text-align: right;
    margin-left: 50%;

    &:before,
    &:after {
      margin-right: 0;
      margin-left: auto;
    }

    p:before {
      background-position: right;
      transform: scaleX(-1);
      transform: rotate(180deg);
    }
  }
}

.blockquotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;

  blockquote {
    width: 32%;
  }
}
