blockquote {
  margin: 0 0 $spacing-06 0;
  width: 50%;
  color: $prussian-blue;
  @include font-serif;

  > cite {
    @include font-sans;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:before,
  &:after {
    display: block;
    content: '';
    height: $border;
    width: $border-triple;
    background-color: $prussian-blue;
  }

  &:before {
    margin-bottom: $spacing-04;
  }

  &:after {
    margin-top: $spacing-04;
  }
}

.section--inverted blockquote {
  &:before,
  &:after {
    background-color: $athens-blue;
  }
}

.blockquote--centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &:before,
  &:after {
    margin-left: auto;
    margin-right: auto;
  }
}

.blockquote--right {
  margin-left: 50%;
  text-align: right;

  &:before,
  &:after {
    margin-right: 0;
    margin-left: auto;
  }
}

.blockquotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;

  blockquote {
    width: 32%;
  }
}
