blockquote {
  margin: 0 0 $spacing-06 0;

  &:last-child {
    margin: 0;
  }

  &:before,
  &:after {
    display: block;
    content: '';
    height: 10px;
    width: 15vw;
    background-color: $prussian-blue;
  }

  &:before {
    margin-bottom: $spacing-04;
  }

  &:after {
    margin-top: $spacing-04;
  }
}

.section--inverted blockquote {
  &:before,
  &:after {
    background-color: $athens-blue;
  }
}
