/* Buttons */

button,
.button {
  display: inline-block;
  padding: $spacing-02;
  cursor: pointer;
  border: $border-third solid $buttercup-yellow;
  background-color: $buttercup-yellow;;
  color: $black;
  transition: all 150ms ease-in;
  text-decoration: none;
  @include typescale-06;
  @include font-sans;

  path {
    stroke: $black;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $black;
    background-color: $black;
    color: $white;

    path {
      stroke: $white;
    }
  }
}
