.intro {
  margin-bottom: $spacing-05;

  &__content {
    @include typescale-04;
  }

  &__figure {
    margin-top: $spacing-05;
    margin-bottom: $spacing-03;
    margin-left: $gutter-negative;
    margin-right: $gutter-negative;
    overflow-y: hidden;

    &:before {
      display: block;
      content: ' ';
      height: $border-half;
      width: 100%;
      background: $brick-red;

      @media screen and (min-width: 1024px) {
        height: $border;
      }
    }
  }

  &__caption {
    color: $coal;
    @include typescale-06;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;

    .intro__content,
    .intro__figure {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .intro__figure {
      margin: 0;
      margin-bottom: $spacing-04;

      > div {
        flex-basis: 0px;
        flex-grow: 1;
        overflow: hidden;
        height: 30vh;
      }

      &--left {
        order: -1;
        margin-bottom: -$spacing-05;
        margin-left: $gutter-negative;
      }

      &--right {
        margin-top: 0;
        margin-right: $gutter-negative;
        margin-bottom: -$spacing-05;
      }
    }
  }

  &--two-thirds {

    h3 {
      margin-top: -$spacing-04;
      font-weight: 900;
      @include font-serif;
      @include typescale-01;
    }

    .intro__figure:before {
      display: none;
    }

    @media screen and (min-width: 1024px) {
      .intro__content {
        width: 66.6666%;
      }
    }
  }
}
