.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: $spacing-05;

  .intro__content,
  .intro__figure {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .intro__content {
    @include typescale-04;
  }

  .intro__figure {

    > div {
      flex-basis: 0px;
      flex-grow: 1;
      overflow: hidden;

      &:before {
        display: block;
        content: ' ';
        height: $border;
        width: 100%;
        background: $brick-red;
      }
    }

    &--left {
      margin-bottom: -$spacing-05;
      margin-left: -3vw;
    }

    &--right {
      margin-top: 0;
      margin-right: -3vw;
      margin-bottom: -$spacing-05;
    }
  }
}
