.nav {
  display: none;
}

.nav--active {
  display: block;
  margin-bottom: $spacing-04;
  align-self: flex-end;
  text-align: right;

  ol {
    display: inline-block;
    border: 1px solid $coal;
    background-color: $athens-blue;
    @include unstyled-list;
    padding: 0 $spacing-03;
  }

  a {
    display: block;
    margin: $spacing-03 0;
    text-decoration: none;
    line-height: 1;

    &:hover,
    &:active,
    &:focus {
      color: $buttercup-yellow;
    }
  }

  li {
    border-bottom: 1px solid $coal;

    &:last-child {
      border: 0;
    }
  }
}
