.nav {
  display: none;
}

.nav--active {
  display: block;
  // position: fixed;
  right: $gutter;
  bottom: $gutter;
  // padding: $spacing-03;
  align-self: flex-end;
  background-color: $prussian-blue;
  text-align: right;

  ol {
    @include unstyled-list;
  }

  a {
    display: block;
    margin: 0 0 $spacing-03 0;
    text-decoration: none;
    font-weight: 800;
    @include font-serif;
  }

  li:last-child a {
    margin: 0;
  }
}
