.portrait {
  display: block;
  position: relative;
  margin-bottom: $spacing-04;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}
