.section {
  padding: 6vw 0;
  min-height: 100vh;

  h2 {
    margin: 0 0 $spacing-04 0;
  }

  h3, h4, p {
    + blockquote {
      margin-top: $spacing-05;
    }
  }

  > p {
    position: relative;
    z-index: 2;

    @media screen and (min-width: 1024px) {
      margin-bottom: $spacing-05;
      width: 66.666667%;
      @include typescale-05;
    }
  }
}

.section__header {
  margin-bottom: $spacing-05;

  @media screen and (min-width: 1024px) {
    + h3 {
      margin-top: $spacing-06;
    }
  }
}

.section__heading {
  display: block;
  margin-bottom: $spacing-02;
  font-weight: 900;
  font-size: 0.5em;
  text-transform: uppercase;
}

.section__subheading {
  display: inline-block;
  padding-top: $spacing-03;
  border-top: $border solid $buttercup-yellow;
  @include font-serif;
}

.section--inverted {
  margin: $gutter-negative $gutter-negative $gutter;
  padding-left: $gutter;
  padding-right: $gutter;
  background-color: $black;
  color: $white;

  hr {
    background-color: $athens-blue;
  }

  a, figcaption {
    color: $white;
  }
}

.section--highlighted {
  margin: 0 $gutter-negative;
  padding-left: $gutter;
  padding-right: $gutter;
  background-color: $athens-blue;
}

.section--patterned {
  @include svg-bg('../img/ladders.svg', 100%, auto);
}
