.stats {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacing-04;
  @include unstyled-list;

  h4 {
    margin-bottom: 0;
    color: $prussian-blue;
    text-transform: uppercase;
    font-weight: 700;
    @include font-serif;
    @include typescale-06;
  }

  .stat {
    margin-top: $spacing-03;
    margin-right: $gutter;
    margin-bottom: $spacing-03;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }

    &--featured {
      flex: auto;
      width: 100%;

      p {
        margin-top: $spacing-03;
        width: 50%;
      }
    }
  }
}

.stat__value {
  display: inline-block;
  border-bottom: $border solid $buttercup-yellow;
  font-weight: 900;
  @include typescale-03;

  @media (min-width: 1024px) {
    @include typescale-01;
  }
}

.stat__label {
  display: block;
  margin-top: $spacing-03;
  @include font-serif;
}
