.stats {
  display: flex;
  margin-bottom: $spacing-04;

  h4 {
    margin-bottom: 0;
    color: $prussian-blue;
    text-transform: uppercase;
    font-weight: 700;
    @include font-serif;
    @include typescale-06;
  }

  .stat {
    margin-top: $spacing-03;
    margin-right: $gutter;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }
  }
}

.stat__value {
  display: inline-block;
  border-bottom: $border solid $buttercup-yellow;
  font-weight: 900;
  @include typescale-01;
}

.stat__label {
  display: block;
  margin-top: $spacing-03;
  @include font-serif;
}
