table {
  border-spacing: 0;
  width: 100%;
  font-size: smaller;
  @include font-sans;

  th, td {
    padding: $spacing-04 $spacing-04 $spacing-04 0;

    // Specific to #financials section
    &:nth-child(2),
    &:nth-child(3) {
      text-align: right;
    }

    &:nth-child(3) {
      padding-right: 0;
    }
  }

  thead {
    text-align: left;

    th {
      border-bottom: $border-half solid $black;
      font-weight: 900;
    }
  }

  tbody {
    color: $coal;

    td {
      border-bottom: 1px solid $black;
    }

    tr:last-child td {
      border: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 66.666667%;
  }
}
