table {
  margin: 0 auto;
  width: 50%;
  border-spacing: 0;
  @include font-sans;

  th, td {
    padding: $spacing-04 0;

    &:nth-child(2),
    &:nth-child(3) {
      padding-right: 0;
      text-align: right;
    }
  }

  thead {
    text-align: left;

    th {
      border-bottom: $border-half solid $black;
      font-weight: 900;
    }
  }

  tbody {
    color: $coal;

    td {
      border-bottom: 1px solid $black;
    }

    tr:last-child td {
      border: 0;
    }
  }
}
