---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>

      {% for section in site.sections %}

      {% capture section_cycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% assign section_name = section.url | remove: '.html' | remove: '/sections/' | slice: 3, section.url.size %}

      <section class="section
        {% if section.inverted %} section--inverted
        {% elsif section.highlighted %} section--highlighted{% endif %}
        {% if section.patterned %} section--patterned{% endif %}"
        id="{{ section_name }}">
        <header class="section__header">
          <h2>
            <span class="section__heading">{{ section.heading }}
            </span>{% if section.subheading %}<span class="sr-only">: </span><span class="section__subheading">{{ section.subheading }}</span>{% endif %}
          </h2>

          {% if section.intro and section_cycle == 'even' %}
          <div class="intro">
            <div class="intro__content">
              <p>
                {{ section.intro }}
              </p>
              <p class="intro__caption" id="#photo-credit-{{ section_name }}">
                <small><i>{{ section.photo_credit }}</i></small>
              </p>
            </div>

            <figure class="intro__figure intro__figure--right">
              <div>
                <img src="{{ section.photo }}" alt="{{ section.photo_alt }}" aria-labelledby="#photo-credit-{{ section_name }}"/>
              </div>
            </figure>
          </div>
          {% elsif section.intro and section_cycle == 'odd' %}
          <div class="intro">
            <div class="intro__content">
              <p>
                {{ section.intro }}
              </p>
              <p class="intro__caption" id="#photo-credit-{{ section_name }}">
                <small><i>{{ section.photo_credit }}</i></small>
              </p>
            </div>

            <figure class="intro__figure intro__figure--left">
              <div>
                <img src="{{ section.photo }}" alt="{{ section.photo_alt }}" aria-labelledby="#photo-credit-{{ section_name }}"/>
              </div>
            </figure>
          </div>
          {% endif %}

        </header>

        {{ section.content }}
      </section>
      {% endfor %}

    </main>

    {% include footer.html %}

  </body>

</html>
