---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>

      {% for section in site.sections %}

      {% capture section_cycle %}{% cycle 'odd', 'even' %}{% endcapture %}

      <section class="section{% if section.inverted %} section--inverted
        {% elsif section.highlighted %} section--highlighted{% endif %}"
        id="{{ section.url | remove: '.html' | remove: '/sections/' | slice: 3, section.url.size }}">
        <header class="section__header">
          <h2>
            <span class="section__heading">{{ section.heading }}</span>{% if section.subheading %}<span class="sr-only">: </span><span class="section__subheading">{{ section.subheading }}</span>{% endif %}
          </h2>

          {% if section.intro and section_cycle == 'even' %}
          <div class="intro">
            <div class="intro__content">
              <div>
                {{ section.intro }}
              </div>
            </div>

            <figure class="intro__figure intro__figure--right">
              <div>
                <img src="https://source.unsplash.com/collection/10758659" alt=""/>
              </div>
            </figure>
          </div>
          {% elsif section.intro and section_cycle == 'odd' %}
          <div class="intro">
            <div class="intro__figure intro__figure--left">
              <div>
                <img src="https://source.unsplash.com/collection/10758668" alt=""/>
              </div>
            </div>

            <div class="intro__content">
              <div>
                {{ section.intro }}
              </div>
            </div>
          </div>
          {% endif %}

        </header>

        {{ section.content }}
      </section>
      {% endfor %}

    </main>

    {% include footer.html %}

  </body>

</html>
