#community {
  p {

    &:first-of-type {
      text-align: left;
      margin-left: 0;
    }
  }

  h3 + p,
  h4 + p {
    text-align: left;
    margin-left: 0;

    @media screen and (min-width: 1024px) {
      + p {
        text-align: right;
        margin-left: 33.33333%;
      }
    }
  }

  #you-publish-open,
  #you-support-open,
  #you-sustain-open {
    margin-top: -$spacing-04;
    font-weight: 900;
    @include font-serif;
    @include typescale-01;

    + p {
      padding: $spacing-04;
      background-color: $athens-blue;
    }
  }

  #you-publish-open {

  }
}
