#community {
  p {

    &:first-of-type {
      text-align: left;
      margin-left: 0;
    }
  }

  h3 + p,
  h4 + p {
    text-align: left;
    margin-left: 0;

    + p {
      text-align: right;
      margin-left: 33.33333%;
    }
  }
}
