.footer {
  @extend .section--inverted;
  margin: $gutter-negative;
  padding-bottom: $gutter;
  @include typescale-06;

  svg {
    margin-bottom: $spacing-04;
    height: 75px;
    width: auto;
  }

  li {
    margin: 0;
    padding: 0;
    border: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;

    > p {
      flex-grow: 1;
    }
  }
}
