.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 3vw;

  strong {
    display: block;
    margin-top: $spacing-03;
    font-weight: 900;
  }

  h1 {

  }
}

.header__toc {
  display: flex;
  flex-direction: column;

  button {
    position: fixed;
    right: 3vw;
    top: 3vw;
    align-self: flex-start;
    color: $athens-blue;
  }
}
