.header {
  display: flex;
  flex-wrap: wrap;
  padding: $gutter;
  margin-right: $gutter-negative;
  margin-left: $gutter-negative;
  border-top: $border solid $prussian-blue;

  strong {
    display: block;
    margin-top: $spacing-03;
    font-weight: 900;
  }

  &:before {
    position: absolute;
    top: $border;
    left: 0;
    overflow-x: hidden;
    background-position: center;
    @include svg-bg('../img/rectangles-athensblue.svg', 85vh, 100%);
    background-size: cover;
  }

  > div {
    position: relative;
    z-index: 1;

    &:first-child {
      width: 50%;
    }

    &:nth-child(2) {
      margin-left: auto;
    }

    &:nth-child(3) {
      width: 50%;
      margin-top: auto;
    }

    &:nth-child(4) {
      margin-left: auto;
      margin-top: auto;
    }
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.header__toc {
  display: flex;
  flex-direction: column;

  button {
    position: fixed;
    right: $gutter;
    top: $gutter;
    align-self: flex-start;
    color: $athens-blue;
  }
}
