.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  padding: $gutter;

  strong {
    display: block;
    margin-top: $spacing-03;
    font-weight: 900;
  }

  &:before {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    @include svg-bg($grid, 85vh, 100%);
  }
}

.header__toc {
  display: flex;
  flex-direction: column;

  button {
    position: fixed;
    right: $gutter;
    top: $gutter;
    align-self: flex-start;
    color: $athens-blue;
  }
}
