/* Variables for colour palette */

// Primary
$prussian-blue:       #002145;
$athens-blue:         #F2F4F6;
$white:               #FFF;

// Text
$black:               #272522;
$coal:                #616161;

// Alerts / secondary
$buttercup-yellow:    #F4AB1B;
$brick-red:           #992932;
