/* General typography */

html {
  scroll-behavior: smooth;
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

body {
  padding: 3vw;
  color: $black;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  @include font-sans;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  @include typescale-01;
}

h2 {
  @include typescale-02;
}

h3 {
  @include typescale-03;
}

h4 {
  @include typescale-04;
}

h5 {
  @include typescale-05;
}

h6, small {
  @include typescale-06;
}

p {
  margin-bottom: $spacing-04;

  &:last-child {
    margin: 0;
  }
}

ul, ol {

  ul, ol {
    margin-left: $spacing-03;
  }
}
