/* General typography */

html {
  scroll-behavior: smooth;
  cursor: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='25' fill='%23992932'/%3E%3C/svg%3E%0A"), pointer;
  font-size: 20px;

  @media (min-width: 1024px) {
    font-size: 22px;
  }
}

body {
  padding: 0 $gutter;
  color: $black;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  @include font-sans;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.05;
  font-weight: 400;
}

h1 {
  margin: 0;
  letter-spacing: -0.03em;
  @include typescale-01;
}

h2 {
  @include typescale-01;
}

h3 {
  @include typescale-02;
}

h4 {
  @include typescale-03;
}

h5 {
  @include typescale-05;
}

h6 {
  @include typescale-05;
}

small {
  @include typescale-06;
}

p {
  margin-bottom: $spacing-04;

  &:last-child {
    margin: 0;
  }
}

ul, ol {

  ul, ol {
    margin-left: $spacing-03;
  }
}

strong, b {
  font-weight: 900;
}
